body {
    background-color:  rgb(240, 236, 223);
  }
  
  .container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
  }

  
  
  .produtos{
    background-color: rgb(107, 69, 42);
    color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 3px;

  }
  .price{
    color: #757676;
    text-decoration: line-through;
    font-size: 12px;

  }

  .produtos a{
    color:rgb(228, 228, 228);
    text-decoration: none;
  }

  h1 {
    font-size: 75px;
    align-content: center;
    text-align: center;
    color: rgb(73, 45, 8);
  
  }

  .title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Final{
    background-color: rgb(107, 69, 42);
    padding: 10px;
    color: rgb(228, 228, 228);
    text-align: center;
}
  footer{
    padding-top: 90px;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px;
  }
  
  
  .input-wrapper i {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
  }
  
  .list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
  }
  
  .list .item img {
    width: 90%;
    height: 430px;
    object-fit: cover;
  }
  
  .list .item .title {
    font-weight: 600;
  }
  
  .list .item .atualprice {
    margin: 10px;
    font-family: sans-serif;
  }
  
  .list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
  }
  
  .card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
  }
  
  
  .active .card {
    left: calc(100% - 500px);
  }
  
  .active .container {
    transform: translateX(-200px);
  }
  
  .card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
  }
  
  .card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
  }
  
  .listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
  }
  
  .listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .listCard li img {
    width: 90%;
  }
  
  .listCard li button {
    background-color: #fff5;
    border: none;
  }
  
  .listCard .count {
    margin: 0 10px;
  }
  
  .invisivel {
    display: none;
  }

  @media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 40px;
    }
  }